<div>Nominee: {{nominee_user_id}}</div>
<div>Declaration: {{award_declaration}}</div>
<div>Created By: {{created_by_id}}</div>
<div>Award Class: {{award_class_id}}</div>
<div>Created: {{created_on}}</div>